#title{
    color: black;
    font-size: 225%;
    text-align: center;
    font-weight: bold;

}

body{
   font-family: 'Open Sans', sans-serif;
  
}

#definitions{
   padding-top: 1%;
}

.container{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
 }
 
 .graphText{
    width: 20%;
    padding: 1%;
    padding-bottom: 0;
    padding-top: 0;
    /*border-right: 1px solid black;*/
    text-align: right;
    color: darkslategrey;
    font-style: italic;
    -webkit-user-select: none;
    font-size: 130%;
    font-weight: bold;
    color: green;
    margin-top: auto;
    margin-bottom: auto;
    /*font-family: 'newsreader', serif;*/
 }
 
 .graphBars{
    margin-left: 1.25%;
    max-width: 65%;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    font-size: 125%;
    transition: 0.25s;
    text-align: right;
    color: white;
    /*font-family: 'newsreader', serif;*/
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 1.5%;
    -webkit-user-select: none;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    
 }
  
 .graphBars:hover{
    
    transition: 0.25s;
    cursor: pointer;
 }
 
 #graphScale{
    border-top: 6px solid black;
    margin-top: 0.3%;
    margin-left: 23.2%;
    width: 65%;
    display: flex;
    
 }

 #graphScale1{
   border-top: 6px solid black;
   margin-top: 0.3%;
   margin-left: 23.2%;
   width: 65%;
   display: flex;
   
}
 
 .percentDiv{
    border-left: 4px solid black;
    border-top: 1px solid black;
    font-size: 120%;
    padding-left: 0.5%;
    padding-top: 0.5%;
    margin-bottom: 2%;
    -webkit-user-select: none;
    font-weight: bold;
    /*font-family: 'newsreader', serif;*/
    /*titanic: float;*/
 }

 #graph1Selection{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#graph1Left{
   display: flex;
   width: 40%;
   justify-content: center;
}

#graph1Right{
   display: flex;
   width: 40%;
   justify-content: center;
}

#selectGrade, #selectPrevalence{
   font-size: 1.9vw;
   margin-top: 8%;
   width: auto;
}

#gradeSelection, #prevalenceSelection{
   width: 50%;
   margin-top: 6%;
}

hr{
   margin-left: 30%;
   margin-right: 30%;
   margin-top: 4%;
   margin-bottom: 4%;
}

#usage, #initiation, #sud{
   background-color: whitesmoke;
   margin-top: 0;
}


.grade, .prevalenceOfUse{
   font-size: 1.6vw;
   background-color: white;
   border: 1px solid black;
   width: 75%;
   text-align: center;
   margin-left: 5%;
   -webkit-user-select: none;
   transition: 0.25s;
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 2%;
   padding-bottom: 2%;
}

.graphTitle{
   font-size: 190%;
   border-left: 4px solid green;
   width: 70%;
   margin-left: 12%;
   padding-left: 2%;
   padding-top: 0.5%;
   padding-bottom: 0.5%;
   font-weight: bold;
}

#statistics{
   background-color: whitesmoke;
   padding-top: 0.1%;
}

#selectGrade, #gradeSelection, #selectPrevalence, #prevalenceSelection{
   margin-top: 5%;
   margin-bottom: 10%;
}

.graphSubTitle{
   margin-left: 12%;
   font-size: 135%;
   margin-right: 12%;
}

.citations{
   color: blue;
}

.grade:hover{
   background-color: orange;
   color: white;
   cursor: pointer;
   transition: 0.25s;
}

.prevalenceOfUse:hover{
   background-color: skyblue;
   color: white;
   transition: 0.25s;
   cursor: pointer;
}


.outsideText{
   margin-left: 0.75%;

   font-size: 125%;

   color: black;
   /*font-family: 'newsreader', serif;*/
   padding-top: 0.5%;
   padding-bottom: 0.5%;
 
   margin-top: 0.2%;
   margin-bottom: 0.2%;
   
}

.line{
   margin-top: 5%;
   margin-bottom: 5%;
   height: 10px;
   background-color: darkgreen;
   margin-left: 30%;
   margin-right: 30%;
   border-radius: 5px;

}

#content{
   background-color: whitesmoke;
}

#onThisPage{
   margin-left: 12%;
   margin-right: 12%;
   padding-left: 3%;
   padding-right: 3%;
   padding-top: 2%;
   padding-bottom: 2%;
   border: 2px solid green;
   margin-bottom: 3%;
}

.navigationLink{
   color: green;
   display: block;
   font-size: 135%;
   margin-top: 1%;
   margin-bottom: 1%;
}

#onThisPageText{
   font-size: 185%;
   text-decoration: underline;
   font-weight: bold;
   margin-top: 0;
}

.textHolder{
   display: flex;
   margin-left: 12%;
   margin-top: -1%;
   margin-bottom: -1%;
   margin-right: 12%;
}


.bulletText{
   font-size: 145%;
   max-width: 90%;
}

.bullet{
   height: 15px;
   width: 15px;
   border: 2px solid green;
   margin-left: 3%;
   margin-right: 3%;
   margin-top: auto;
   margin-bottom: auto;
   border-radius: 50%;
}

@media only screen and (orientation: portrait){

   body{
      overflow-x: auto;
   }
   #onThisPage{
      margin-left: 5%;
      margin-right: 5%;
   }

   #onThisPageText{
      font-size: 6vw;
      text-align: center;
   }

   .navigationLink{
      margin-bottom: 5%;
      margin-top: 5%;
      font-size: 4.5vw;
      margin-left: 5%;
      margin-right: 5%;
   }

   .graph{
      width: 200%;
      overflow-y: hidden;
      background-color: whitesmoke;
      padding-top: 5%;
      padding-bottom: 5%;
   }

   .graphTitle{
      font-size: 6vw;
      margin-left: 7.5%;
      margin-right: 7.5%;
      padding-left: 4%;
      width: 85%;
   }

   .graphSubTitle{
      font-size: 4.75vw;
      margin-left: 7.5%;
      margin-right: 7.5%;
      line-height: 1.6;
   }

   .textHolder{
      margin-left: 7.5%;
      margin-right: 7.5%;
   }

   .bullet{
      width: 10px;
      height: 10px;
      margin-left: 3%;
      margin-right: 5%;
      border: 2px solid green;
   }

   .bulletText{
      max-width: 85%;
      font-size: 5vw;
      margin-right: 0;
      
   }

   .graphText{
      font-size: 3.5vw;
   }

   .graphBars{
      font-size: 3.75vw;
      padding-top: 1%;
      padding-bottom: 1%;
   }

   .outsideText{
      font-size: 3.75vw;
      padding-top: 1%;
      padding-bottom: 1%;
   }

   .percentDiv{
      font-size: 3.75vw;
   }

   #graph1Selection{
      flex-direction: column;
   }

   #graph1Left{
      margin-left: 7.5%;
      margin-right: 7.5%;
      width: 85%;
      font-size: 4vw;
   }

   #graph1Right{
      margin-left: 7.5%;
      margin-right: 7.5%;
      width: 85%;
      font-size: 4vw;
   }

   .grade{
      font-size: 4.5vw;
   }

   .prevalenceOfUse{
      font-size: 4.5vw;
   }

   #gradeSelection, #prevalenceSelection{
      margin-top: 4%;
      margin-bottom: 4%;
   }

   #selectPrevalence, #selectGrade{
      font-size: 4.75vw;
      padding-top: 1%;
      padding-bottom: 1%;
      margin-bottom: 4%;
      margin-top: 4%;
   }

   .line{
      height: 6px;
      margin-top: 10%;
      margin-bottom: 12.5%;
   }
}